<h1> tareas</h1>
 <form [formGroup]="tareas" (ngSubmit)="mostrar()">
  <div class="formulario">
    <label for="tarea">Nombre:</label>
    <input id="nombre" formControlName="nombre">



     <div class="formulario">
    <label for="tarea">descripcion:</label>
      <input id="descripcion" formControlName="descripcion">
      
    
    <button (click)="mostrar()">añadir tarea</button>

   </div>
 

<div cdkDropListGroup>
<div class="example-container">
  <h2>To do {{todo.length}}</h2>

  <div
     cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of todo; track item) {
     
      <div class="example-box" cdkDrag>{{item.nombre}}
      <button (click)="borrar(todo, item)">Borrar</button></div>
      <span matButton [matMenuTriggerFor]="menu"><mat-icon>expand_more</mat-icon></span>
       <mat-menu #menu="matMenu">
           <p>{{item.descripcion}}</p>
      
       </mat-menu>
       
    }
  </div>
  
</div>

<div class="example-container">
  <h2>Doing {{doing.length}}</h2>

  <div
    cdkDropList
     #doneList="cdkDropList"
      [cdkDropListData]="doing"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of doing; track item) {
      <div class="example-box" cdkDrag>{{item.nombre}}
      <button (click)="borrar(doing, item)">Borrar</button>
      </div>
      <span matButton [matMenuTriggerFor]="menu"><mat-icon>expand_more</mat-icon></span>
        <mat-menu #menu="matMenu">
           <p>{{item.descripcion}}</p>
       </mat-menu>
         
      }
  </div>
</div>

<div class="example-container">
  <h2>Done {{done.length}}</h2>

  <div
    cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of done; track item) {
      <div class="example-box" cdkDrag>{{item.nombre}}
     <button (click)="borrar(done, item)">Borrar</button>
      </div>
        <span matButton [matMenuTriggerFor]="menu"><mat-icon>expand_more</mat-icon></span>
       <mat-menu #menu="matMenu">
           <p>{{item.descripcion}}</p>
       </mat-menu>
            
    }
  </div>
</div>
</div>

 