.example-spacer {
    flex: 1 1 auto; 
}

.option{
    cursor: pointer; 
}

.option:hover{
    font-weight: 700;
}


.nav-halloween{
    background-color: rgb(219, 90, 15);
    color: white;
    
    
  
}

.nav-Navidad{
    background-color: green;
    color: white
    
    
}


.body{
    background-image: url(/public/fondo-halloween.jpg) ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;


}
