.tablero{
   width: 300px;
   height: 300px;
   background-color: aqua;
   border: solid 2px black; 
   display: grid; 
   grid-template-columns: repeat(3, 100px);
   gap: 1px;
   margin: 5px;
   



}


.casilla1{

   width: 100px;
   height: 100px;
   background-color: rgb(201, 34, 34);
   border: solid 2px black;
   border-radius: 2px;
   display: grid; 
   grid-template-columns: repeat(3, 100px);
 
}


.casilla2{

   width: 100px;
   height: 100px;
   background-color: rgb(201, 34, 34);
   border: solid 2px black;
   border-radius: 2px;
   display: grid; 
   grid-template-columns: repeat(3, 100px);
  
}



.casilla3{

   width: 100px;
   height: 100px;
   background-color: rgb(201, 34, 34);
   border: solid 2px black;
   border-radius: 2px;
   display: grid; 
   grid-template-columns: repeat(3, 100px);
  
}



.casilla4{

   width: 100px;
   height: 100px;
   background-color: rgb(201, 34, 34);
   border: solid 2px black;
   border-radius: 2px;
   display: flex;
   flex-wrap: wrap;
   display: grid; 
   grid-template-columns: repeat(3, 100px);
  
}

.casilla5{

   width: 100px;
   height: 100px;
   background-color: rgb(201, 34, 34);
   border: solid 2px black;
   border-radius: 2px;
   display: flex;
   flex-wrap: wrap;
   display: grid; 
   grid-template-columns: repeat(3, 100px);
   
}


.casilla6{

   width: 100px;
   height: 100px;
   background-color: rgb(201, 34, 34);
   border: solid 2px black;
   border-radius: 2px;
   display: flex;
   flex-wrap: wrap;
   display: grid; 
   grid-template-columns: repeat(3, 100px);
   
}



.casilla7{

   width: 100px;
   height: 100px;
   background-color: rgb(201, 34, 34);
   border: solid 2px black;
   border-radius: 2px;
   display: flex;
   flex-wrap: wrap;
   display: grid; 
   grid-template-columns: repeat(3, 100px);
   
}


.casilla8{

   width: 100px;
   height: 100px;
   background-color: rgb(201, 34, 34);
   border: solid 2px black;
   border-radius: 2px;
   display: flex;
   flex-wrap: wrap;
   display: grid; 
   grid-template-columns: repeat(3, 100px);
   
}


.casilla9{

   width: 100px;
   height: 100px;
   background-color: rgb(201, 34, 34);
   border: solid 2px black;
   border-radius: 2px;
   display: flex;
   flex-wrap: wrap;
   
   display: grid; 
   grid-template-columns: repeat(3, 100px);
   

   
}


.topo{

   width: 75px;
    height: 75px;
    margin: 15px;
    border-radius: 50%;
    border: solid 2px black;
    background-color: black;
    cursor: pointer;
    transition: 0.1s;
    grid-template-columns: auto;
    position:absolute;
    justify-items: center;
    
}
